/* ----------------------------
    COLORES DE LA APP
----------------------------- */
:root {
    --color-40-beige: #F0E8D5; /* Color 40% app */
    --color-60-green: #12491f; /* Color 60% app */
    --color-10-white: #fff; /* Color 10% app */
    --color-shadow: rgba(0, 0, 0, 0.25); /* Color box-shadow */
    --color-input: rgba(18, 73, 31, 0.05);
}