/* ----------------------------
    HEADER STYLES
----------------------------- */
header {
    width: 100vw;
    padding: 0.5rem 5rem;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

.logo {
    width: 8rem;
}

.icons {
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

.icons a {
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

#menu {
    display: none;
    background: var(--color-40-beige);
    padding: 1rem;
    width: 100vw;
    height: 300vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
}

#menu:target {
    display: block;
}

#menu menu li {
    display: block;
}

nav {
    display: none;
    background-color: var(--color-input);
    box-shadow: 0 4px 4px 0 var(--color-shadow);
    border-radius: 50px;
    width: 50vw;
    padding: 0.2rem 0;
}

nav menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

li {
    display: inline;
}