/* ----------------------------
    ALIMENTOS STYLES
----------------------------- */

@import url(../general/colors.css);
@import url(../general/reset.css);
@import url(../general/media-query.css);
@import url(../general/header.css);
@import url(../general/sidebar.css);
@import url(../general/carrusel.css);

form {
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
    justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -ms-align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

form>input,
form>div>input{
    width: auto;
}

.alergias {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrp: wrap;
    -moz-flex-wrp: wrap;
    -ms-flex-wrp: wrap;
    gap: 1rem;
}

.alergias>div {
    width: 100%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
}

.alergias input[type="checkbox"] {
    background-color: transparent;
    box-shadow: none;
    backdrop-filter: none;
    height: auto;
    margin-right: 1rem;
}

.sprite {
    width: 2rem;
    height: 2rem;
    background-image: url('../../images/alergias.png');
    background-repeat: no-repeat;
    background-size: calc(1280px * 0.1624) calc(1280px * 0.1455);
}

.sprite.contiene-gluten { background-position: calc(-986px * 0.1624) calc(-50px * 0.1455); }
.sprite.crustaceos { background-position:  calc(-697px * 0.1624) calc(-50px * 0.1455); }
.sprite.granos-de-sesamo { background-position:  calc(-697px * 0.1624) calc(-641px * 0.1455); }
.sprite.dioxido-de-azufre-y-sulfitos { background-position:  calc(-108px * 0.1624) calc(-952px * 0.1455); }
.sprite.moluscos { background-position:  calc(-402px * 0.1624) calc(-654px * 0.1455); }
.sprite.altramuces { background-position:  calc(-986px * 0.1624) calc(-654px * 0.1455); }
.sprite.huevos { background-position: calc(-402px * 0.1624) calc(-50px * 0.1455); }
.sprite.pescados { background-position: calc(-108px * 0.1624) calc(-50px * 0.1455); }
.sprite.cacahuetes { background-position: calc(-108px * 0.1624) calc(-350px * 0.1455); }
.sprite.soja { background-position: calc(-697px * 0.1624) calc(-952px * 0.1455); }
.sprite.lacteos { background-position: calc(-402px * 0.1624) calc(-350px * 0.1455); }
.sprite.frutos-de-cascara { background-position: calc(-986px * 0.1624) calc(-654px * 0.1455); }
.sprite.apio { background-position: calc(-986px * 0.1624) calc(-350px * 0.1455); }
.sprite.mostaza { background-position: calc(-108px * 0.1624) calc(-654px * 0.1455); }

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    color: var(--color-60-green);
    background-color: var(--color-40-beige);
    padding: 5rem;
    border-radius: 50px;
}

.button-group {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

/* ----------------------------
    MEDIA QUERY
----------------------------- */

@media (min-width: 426px) {
    form {
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-template-columns: repeat(2, 1fr);
    }

    form > div:first-child,
    form > .alergias-container,
    .button-group {
        grid-column: span 2;
        -ms-grid-column: span 2;
    }

    form > input {
        grid-column: span 2;
        -ms-grid-column: span 2;
        justify-self: center;
        -ms-justify-self: center;
    }
}

@media (min-width: 768px) {
    form {
        grid-template-columns: repeat(3, 1fr);
        -ms-grid-template-columns: repeat(3, 1fr);
    }

    form > div:first-child,
    form > .alergias-container,
    .button-group {
        grid-column: span 3;
        -ms-grid-column: span 3;
    }

    form > input {
        grid-column: span 3;
        -ms-grid-column: span 3;
        justify-self: center;
        -ms-justify-self: center;
    }
}

@media (min-width: 992px) {
    .alergias {
        flex-direction: row;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
    }
    .alergias>div {
        width: calc(50% - 0.5rem);
    }
}