/* ----------------------------
    MEDIA QUERIES DE RECETAS
----------------------------- */
@media (min-width: 576px) {
    #alimento {
        grid-template-columns: repeat(2, 1fr) !important;
        -ms-grid-template-columns: repeat(2, 1fr) !important;
        padding: 0 10rem;
    }

    #alimento>a{
        grid-column: span 2;
        -ms-grid-column: span 2;
    }

    #pop-up-pb .form {
        padding: 3rem !important;
    }

    #pop-up-pb .form>input {
        width: auto !important;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
        #alimento {
        grid-template-columns: repeat(3, 1fr) !important;
        -ms-grid-template-columns: repeat(3, 1fr) !important;
        padding: 0 15rem;
    }

    #alimento>a{
        grid-column: span 3;
        -ms-grid-column: span 3;
    }

    #pop-up-pb .form {
        padding: 5rem !important;
    }
}

@media (min-width: 1200px) {

}