/* ----------------------------
    CLIENTES STYLES
----------------------------- */

@import url(../general/colors.css);
@import url(../general/reset.css);
@import url(../general/media-query.css);
@import url(../general/header.css);
@import url(clientes-media-query.css);

.clientes {
    width: 100%;
    min-height: calc(100vh - 6rem);
    position: relative;
    top: 6rem;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr;
    -ms-grid-template-columns: 1fr;
    gap: 5rem;
}

.box-cliente {
    background-color: var(--color-input);
    box-shadow: 0 4px 4px 0 var(--color-shadow);
    border-radius: 25px;
    padding: 2rem;
}

#calendar {
    display: none;
    background-color: var(--color-40-beige);
    width: 100%;
    min-height: calc(100vh - 6rem);
    padding: 5rem;
    position: absolute;
    top: 6rem;
    left: 0;
}

.fc .fc-button-primary {
    background-color: var(--color-60-green);
    color: var(--color-40-beige);
    border: none;
}

.fc .fc-button-primary:hover {
    background-color: var(--color-40-beige);
    color: var(--color-60-green);
}

#recetas {
    display: none;
    backdrop-filter: blur(5px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#recetas>.box-recetasClientes {
    position: relative;
    width: 70vw;
    height: 70vh;
    background-color: var(--color-40-beige);
    top: 15vh;
    left: 15vw;
    padding: 2rem;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
}

.box-recetasClientes>a {
    text-align: right;
    font-size: 2rem;
}

#fecha {
    display: none;
    padding: 2rem;
    background-color: var(--color-40-beige);
    position: absolute;
    width: 70vw;
    min-height: 70vh;
    top: 15vh;
    left: 15vw;
}